@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap');

nav {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: #91972a;
}
h1 {
    padding-top: 10px;
    border-bottom: 3px  #91972a
}

h4 {
    margin-top: 5px;
}

img {
    width: 150px;
    height: auto;
}

.detail-img {
    width: 200px;
    height: auto;
}

footer {
    height: 10px;
    position: fixed;
    background: #b6c454;
    width: 100%;
    bottom: 0;
    padding: 15px;
    margin-bottom: 10px;
}

main {
    margin-bottom: 40px;
}

html {
    font-family: 'Raleway','Roboto', sans-serif;
    background-color: #dfd3b6;
   
}



.layout {
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.green-text{
    color: darkgreen
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bolder;
    color: blueviolet
}

.text-white {
    color: white;
}

tr:nth-child(even) {
    background-color: lightgray;
}

ol {
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-right: 410px;
}

li:hover {
    box-shadow: 3px 3px #b6c454, -1em 0 .4em olive;
    margin-right: 1050px;
    font-weight: bolder;
}

main > p {
    font-weight: bold;
}

.box {
   border-style: solid;
   border-radius: 15px;
   padding: none;
   text-align: center;
   width: 300px;
   height: auto;
   margin-left: 70px;
   margin-bottom: 30px;
   box-shadow: 3px 3px #b6c454;

}

.box:hover {
    background-color: #d8d174;
}